* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFF;
    margin: 0;
}

  body header {
    background-color:rgba(26, 138, 83);
    color: #FFF
}

body header nav {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

body header nav div {
    display: flex;
    align-items: center;
}

img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

body header nav div a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

main .container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    color: rgba(26, 138, 83);
}

.container h2 {
    text-align: center;
    margin-bottom: 40px;
}

.container div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.container div label {
    margin-right: 10px;
    font-weight: 600;
}

.container div input {
    height: 30px;
}

/* .container div .log {
    
} */

.container button {
    width: 360px;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    background-color: rgba(26, 138, 83);
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    border-color: transparent;
}

.container button:hover {
    background-color: rgba(26, 138, 84, 0.4)
}

.container div:last-of-type {
    justify-content: center;
}