<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/administrator_login_page.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Administrator Login Page</title>
</head>
<body>
    <header>
        <nav>
          <h1>Course Regestration System</h1>
          <div>
              <img src="/search_icon.png" alt="search_icon.png">
              <a href = "/search_page">Search</a>
          </div>
        </nav>
      </header>
      <main>
        <div class = "container">
          <h2>Log In</h2>
          <div>
              <label for="CourseCredit">ID</label>
              <input id="CourseCredit" name="ccredit" type="text"/>
          </div>
          <div>
              <label for="CourseCredit">Password </label>
              <input id="CourseCredit" name="ccredit" type="password"/>
          </div>
          <div><a href = "/add_course" class = "log">LOGIN</a></div>
          <div>
              <a href = "/student_login">a Student?</a>
          </div>
        </div>
      </main>
</body>
</html>