<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/show_Section.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Show Section</title>
</head>
<body>
    <header>
        <nav>
            <div class="links">
                <span class = "icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <ul>
                    <li>
                        <img src="/profile_icon.png" alt="name_icon.PNG">
                        <a href="add_course">Ahmad</a>
                    </li>
                    <li>
                        <img src="/add_course_icon.png" alt="add_course.png">
                        <a href = "/add_course">Add new course</a>
                    </li>
                    <li>
                        <img src="/add_section_icon.png" alt="add_section_icon.png">
                        <a href="/add_section">Add new section</a>
                    </li>
                    <li>
                        <img src="/edit_icon.png" alt="edit.png">
                        <a href="/edit_section">Edit section</a>
                    </li>
                    <li  class = "current">
                        <img src="/show_section_icon.png" alt="search.png">
                        <a href="/show_section">Show section</a>
                    </li>
                    <li>
                        <img src="/logout.png" alt="courses_history_icon.png">
                        <a href="/administrator_login_page">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <header>
            <h3>Show Section</h3>
        </header>
        <section>
            <h3>Section Information</h3>
            <div>
                <div>
                    <label>Term:</label>
                    <select name="" id="">
                        <option value="" selected>Select Term</option>
                        <option value="222">Term 222</option>
                        <option value="221">Term 221</option>
                        <option value="213">Term 213</option>
                    </select>
                </div>
                <div>
                    <label>Department:</label>
                    <select name="" id="">
                        <option value="" selected>Select Department</option>
                        <option value="222">ICS</option>
                        <option value="221">MATH</option>
                        <option value="213">CHEM</option>
                    </select>
                </div>
            </div>
        </section>
    </main>
</body>
</html>